/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.5;
     font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  flex-basis: 100%;
  background-color: #033048;
  width: 100%;
}

section {
  display: flex;
  flex-basis: 100%;
  background-color: #f0efef;
}

section img{
  width: 100%;
  height: auto;
}

article {
  display: flex;
  flex-basis: 75%;
  padding: 50px 20px 50px 50px;
  flex-direction: column;
}

aside {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  padding: 50px 50px 50px 0px;
}

footer {
  display: flex;
  flex-basis: 100%;
  background-color: #121212;
  padding: 30px;
  flex-direction: column;
}



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}


.logo {
  display: flex;
  flex-basis: 25%;
  font-weight: 900;
  color: #ffffff;
  padding: 20px 0px 20px 60px;
  font-size: 30px; 

}

.navigation {
  display: flex;
  flex-basis: 75%;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 40px 0px 0px;
  color: #f9e42e;
  font-weight: 700;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  color: #f9e42e;

}

.nav-li {
  float: right;
  padding: 20px;
  display: inline;
}

.nav-li:hover {
  color: #606161;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #033048;
  padding: 0px 0px 15px 0px;
}

.content {
  font-size: 15px;
  font-weight: 400;
  color: #606161;
  padding: 15px 0px 0px 0px;
}

p:first-child:first-letter {
  color: #606161;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.read-more {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 700;
  color: #033048;
  padding: 25px 0px 10px 0px;
}

.read-more a:hover {
  color: #606161;
}


.sidebar-title {
  font-weight: 700;
  font-size: 18px;
  color: #033048;
}

.sidebar-content {
  font-size: 15px;
  font-weight: 400;
  color: #033048;
  padding: 10px 0px 0px 0px;
}

.sidebar-column-two {
  padding: 30px 0px 0px 0px;
}

.learn-more {
  font-size: 15px;
  font-weight: 700;
  color: #033048;
  padding: 0px 0px 25px 0px;
}

.learn-more a:hover {
  color: #606161;
}

.line-break {
  border: 1px solid #033048;
  margin: 25px 0px 25px 0px;
}

.cta {
  display: flex;
  flex-basis: 100%;
  background: #f9e42e;
  justify-content: center;
}

.cta-button {
  background-color: #033048;
  color: white;
  font-size: 17px;
  font-weight: 700;
  border-radius: 3px;
  margin: 20px;
  padding: 8px 15px 8px 15px;

}

.cta-button:hover {
  color: #606161;
}

.footer-logo {
  display: flex;
  justify-content: center;
  color: #f9e42e;
  font-size: 30px;
  font-weight: 900;
  padding: 0px 0px 25px 0px;
}

.social{
 display: flex;
 justify-content: center;
 flex-direction: row;
}

.facebook {
  display: flex;
  padding: 30px;
}

.twitter {
  display: flex;
  padding: 30px;
}

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 25px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/



